---
metadata:
  id: 1
  name: Main Footer
  file_type: footer
  last_edit: 1643129556717
---
<footer class="py-5">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-between border-bottom">
			<div class="mb-5">
				<a class="d-inline-block" href="/">
					<img class="img-fluid" src="{{ 'modules/module_76/bootstrap5-plain-assets/logos/plainb-logo.svg' | asset_url }}" alt="" width="96px">
				</a>
			</div>
			<div>
				<ul class="list-unstyled d-flex flex-wrap align-items-center">
					<li class="me-4"><a class="link-secondary" href="/content-section">CTA</a></li>
					<li class="me-4"><a class="link-secondary" href="/elements">Elements</a></li>
					<li class="me-4"><a class="link-secondary" href="/footer">Footer</a></li>
					<li><a class="link-secondary" href="/header">Header</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mb-5"></div>
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-between">
			<p>All rights reserved © Wireframes Corporation 2021</p>
			<div>
				<a class="d-inline-block me-4" href="#">
					<img src="{{ 'modules/module_76/bootstrap5-plain-assets/socials/facebook.svg' | asset_url }}" alt="">
				</a>
				<a class="d-inline-block me-4" href="#">
					<img src="{{ 'modules/module_76/bootstrap5-plain-assets/socials/twitter.svg' | asset_url }}" alt="">
				</a>
				<a class="d-inline-block me-4" href="#">
					<img src="{{ 'modules/module_76/bootstrap5-plain-assets/socials/github.svg' | asset_url }}" alt="">
				</a>
				<a class="d-inline-block me-4" href="#">
					<img src="{{ 'modules/module_76/bootstrap5-plain-assets/socials/instagram.svg' | asset_url }}" alt="">
				</a>
				<a class="d-inline-block" href="#">
					<img src="{{ 'modules/module_76/bootstrap5-plain-assets/socials/linkedin.svg' | asset_url }}" alt="">
				</a>
			</div>
		</div>
	</div>
</footer>
</div>
<script src="{{ 'modules/module_76/js/bootstrap/bootstrap.bundle.min.js' | asset_url }}"></script>