---
layout: modules/module_76/templates/1
max_deep_level: 1
metadata:
  name: Footer
  enabled: true
  file_type: page
  last_edit:
searchable: true
slug: footer
---
{% include 'modules/siteglide_system/constants' -%}

<footer class="py-5">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between border-bottom">
      <div class="mb-5">
        <a class="d-inline-block" href="#">
          <img class="img-fluid" src="{{'modules/module_76/bootstrap5-plain-assets/logos/plainb-logo.svg' | asset_url}}" alt="" width="96px">
        </a>
      </div>
      <div>
        <ul class="list-unstyled d-flex flex-wrap align-items-center">
          <li class="me-4"><a class="link-secondary" href="#">About</a></li>
          <li class="me-4"><a class="link-secondary" href="#">Company</a></li>
          <li class="me-4"><a class="link-secondary" href="#">Services</a></li>
          <li><a class="link-secondary" href="#">Testimonials</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-5"></div>
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <p>All rights reserved © Wireframes Corporation 2021</p>
      <div>
        <a class="d-inline-block me-4" href="#">
          <img src="{{'modules/module_76/bootstrap5-plain-assets/socials/facebook.svg' | asset_url}}" alt="">
        </a>
        <a class="d-inline-block me-4" href="#">
          <img src="{{'modules/module_76/bootstrap5-plain-assets/socials/twitter.svg' | asset_url}}" alt="">
        </a>
        <a class="d-inline-block me-4" href="#">
          <img src="{{'modules/module_76/bootstrap5-plain-assets/socials/github.svg' | asset_url}}" alt="">
        </a>
        <a class="d-inline-block me-4" href="#">
          <img src="{{'modules/module_76/bootstrap5-plain-assets/socials/instagram.svg' | asset_url}}" alt="">
        </a>
        <a class="d-inline-block" href="#">
          <img src="{{'modules/module_76/bootstrap5-plain-assets/socials/linkedin.svg' | asset_url}}" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>