---
layout: modules/module_76/templates/1
max_deep_level: 1
metadata:
  name: Portfolio
  enabled: true
  file_type: page
  last_edit:
searchable: true
slug: portfolio
---
{% include 'modules/siteglide_system/constants' -%}
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto text-center mb-5">
        <span class="text-muted">Lorem ipsum</span>
        <h2 class="display-5 fw-bold mt-2">Lorem ispum dolor sit amet consectutar</h2>
      </div>
    </div>
    <ul class="nav nav-pills justify-content-center mb-5">
      <li class="nav-item"><a class="nav-link active" href="#">Active tab</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Normal tab</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Normal tab</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Normal tab</a></li>
    </ul>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-6 p-2">
            <img class="img-fluid rounded" src="{{'modules/module_76/bootstrap5-plain-assets/images/blue-400-square.png' | asset_url}}" alt="">
          </div>
          <div class="col-6 p-2">
            <img class="img-fluid rounded" src="{{'modules/module_76/bootstrap5-plain-assets/images/blue-400-square.png' | asset_url}}" alt="">
          </div>
          <div class="col-12 p-2">
            <img class="img-fluid rounded" src="{{'modules/module_76/bootstrap5-plain-assets/images/blue-400-square.png' | asset_url}}" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 p-2">
            <img class="img-fluid rounded" src="{{'modules/module_76/bootstrap5-plain-assets/images/blue-400-square.png' | asset_url}}" alt="">
          </div>
          <div class="col-6 p-2">
            <img class="img-fluid rounded" src="{{'modules/module_76/bootstrap5-plain-assets/images/blue-400-square.png' | asset_url}}" alt="">
          </div>
          <div class="col-6 p-2">
            <img class="img-fluid rounded" src="{{'modules/module_76/bootstrap5-plain-assets/images/blue-400-square.png' | asset_url}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-primary"><div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
      <span class="text-white">Lorem ipsum</span>
      <h2 class="display-4 fw-bold mt-2 mb-3 text-white">CS - CTA</h2>
      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
    </div>
    <div class="col-12 col-lg-5 ms-auto">
      <div class="mx-auto text-center p-5 bg-light rounded">
        <h4 class="fw-bold">Sign up to our newsletter</h4>
        <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <form action="#">
          <input class="form-control mb-3" type="email" placeholder="Type your e-mail"><button class="btn btn-primary w-100">Action</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>